html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: italic;
}

h3 {
    display: flex;
    font-size: 32px;
    align-items: center;
}

h4 {
    display: flex;
    font-size: 24px;
    align-items: center;
}

h5 {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.main {
    position: relative;
    width: 99vw;
    height: 99vh;
    border-radius: 50px;
    background: linear-gradient(30deg, #C8C7C3 0%, #953618 35%, #D37E00 65%, #C8C7C3 85%);
    overflow: hidden;
}

.main_shadow {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 35%;
    background: linear-gradient(0deg, #c8c7c3cf 0%, #c8c7c3cf 100%);
    z-index: 0;
    transform: rotate(7deg);
    filter: blur(30px);
}

/*HEADER*/

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 1;
}

.header_menu {
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.header_menu a {
    text-decoration: none;
    color: #ffffff;
}

.header_menu h3 {
    cursor: pointer;
    transition: 0.5s;
}

.header_menu h3:hover {
    color: #ffffff;
}

.header_menu h3 {
    margin-top: 10%;
    margin-left: 10%;
}

.logo {
    margin-left: 5%;
}

.logo h2 {
    display: flex;
    font-size: 48px;
    align-items: center;
    margin: 5px;
}

.header_logo-img {
    padding-bottom: 20px;
}

/*END HEADER*/

/*MOBILE MENU*/

.toggle_btn {
    justify-content: center;
    margin: 3% 10% 0% 0%;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    margin-left: 5%;
    top: 80px;
    height: 0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    color: #ffffff;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    width: 90%;
    height: 250px;
    display: none;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.dropdown_menu a {
    text-decoration: none;
    color: #ffffff;
}

.dropdown_menu {
    width: 100%;
    display: flex;

    justify-content: center
}

/*END MOBILE MENU*/

.center {
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


/*BLOCK LEFT*/

.block_left {
    display: flex;
    flex-direction: column;
}

.big_title {
    padding: 4% 5%;
    width: 70%;
    height: auto;
}

.row_statistics {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.statistics {
    display: flex;
    flex-direction: column;
    padding-left: 12%;
}

.statistics_center {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.histogram_title {
    display: flex;
    font-size: 30px;
    align-items: center;
}

.histogram_one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 450px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.60) 0%, rgba(217, 217, 217, 0) 100%);
}


.histogram_two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 380px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(217, 217, 217, 0) 80%);
}

.block_statistics {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 450px;
    height: 140px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.10) 80%);
}

.block_statistics:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.40) 80%);
}

.transition {
    transition: 0.5s;
}

.text_statistics {
    padding: 35px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics_end_text {
    padding-left: 0px;
}

.text_statistics h3 {
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.text_statistics a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}

.social_media {
    display: flex;
    flex-direction: column;
}

.line_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link_block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.5);
}

.line_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link_block-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 30px;
    height: 30px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}


.link_block a {
    color: rgba(0, 0, 0, 0.5);
}

/*END BLOCK LEFT*/

/*BLOCK RIGHT*/

.block_right {
    margin: 0% 0% 0% 12%;
}

.block_phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
    width: 90%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 85%);
    border-radius: 50px;
}

.top_dynamic {
    position: absolute;
    margin-top: 5%;
    width: 40%;
    height: 6%;
    border-radius: 25px;
    background: black;
}

.block_phone-header {
    width: 100%;
    margin: 12% 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.title_user {
    font-size: 15px;
    color: #ffffff;
}

.avatar {
    margin: 0% 5%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: black;
}

.messages_left {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    max-width: 70%;
    font-size: 14px;
    margin: 5px;
    border-radius: 25px;
    padding: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 85%);
}

.messages_right {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phone_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 2%;
    font-size: 20px;
    margin: 5px;
    border-radius: 25px;
    padding: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 85%);
}

/*END BLOCK RIGHT*/

/*FOOTER*/

.footer {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid black;
}

.footer a {
    color: black;
}

.running-text {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    animation: running-text 30s linear infinite;
    text-decoration: none;
    color: black;
}

.running-image {
    margin-left: 10px;
}

/*END FOOTER*/


/*CAROUSEL IN PRIVACY POLICY*/

/*.carousel-box {*/
/*    position: relative;*/
/*    min-width: 950px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.carousel{*/
/*    position: relative;*/
/*    height: 700px;*/
/*    margin-bottom: 50px;*/
/*    perspective: 1500px;*/
/*}*/

/*.carousel .carousel-item{*/
/*    width: 450px;*/
/*    cursor: pointer;*/
/*}*/

/*.carousel .carousel-item .carousel-item_text{*/
/*    max-width: 400px;*/
/*    border-radius: 10px;*/
/*    transform: translateX(8px) translateY(-100%);*/
/*    object-fit: cover;*/
/*    object-position: center;*/
/*    border: solid 1px #ffffff;*/
/*}*/


.carousel-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.carousel .carousel-item {
    visibility: hidden;
    width: 850px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.carousel-item_text {
    width: 850px;
    height: 650px;
    padding: 0px 15px 15px 15px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    border: solid 3px #ffffff;
}

.carousel-item_text p {
    margin: 5px;
    font-size: 12.5px;
}

.carousel-item_text h3 {
    margin-left: 17%;
}


/*END CAROUSEL IN PRIVACY POLICY*/

.button{
    width: 300px;
    height: 20px;

}


@keyframes running-text {
    0% {
        transform: translateX(115%);
    }
    100% {
        transform: translateX(-115%);
    }
}

@media (max-width: 1440px) {
    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    .big_title {
        width: 60%;
    }

    .histogram_title {
        font-size: 28px;
    }

    .histogram_one {
        height: 60px;
        width: 380px;
    }


    .histogram_two {
        height: 60px;
        width: 310px;
    }

    .block_statistics {
        margin-top: 20px;
        width: 400px;
        height: 110px;
        border-radius: 50px;
    }

    .text_statistics {
        padding: 25px 0px 0px 10px;
    }

    .link_block {
        margin-top: 15px;
        width: 140px;
        height: 30px;
        border-radius: 25px;
    }

    .link_block-img {
        margin: 4px;
        width: 25px;
        height: 25px;
    }

    .link_block-img img {
        width: 18px;
        height: 15px;
    }

    .link_block a {
        font-size: 15px;
    }


    .title_user {
        font-size: 12px;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }

    .message {
        font-size: 12px;
        margin: 4px;
        padding: 10px;
    }

    .messages_right {
        width: 90%;
        margin: 5%;
    }

    .phone_button {
        width: 40%;
        height: 2%;
        font-size: 18px;
        margin: 5px;
        border-radius: 25px;
        padding: 12px;
    }

    .top_dynamic {
        margin-top: 3%;
        height: 3%;
    }
}

@media (max-width: 1024px) {
    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 12px;
    }

    .big_title {
        width: 70%;
    }

    .histogram_title {
        font-size: 28px;
    }

    .histogram_one {
        height: 50px;
        width: 380px;
    }


    .histogram_two {
        height: 50px;
        width: 310px;
    }

    .block_statistics {
        margin-top: 20px;
        width: 400px;
        height: 110px;
        border-radius: 50px;
    }

    .text_statistics {
        padding: 25px 0px 0px 10px;
    }

    .link_block {
        margin-top: 15px;
        width: 140px;
        height: 30px;
        border-radius: 25px;
    }

    .link_block-img {
        margin: 4px;
        width: 25px;
        height: 25px;
    }

    .link_block-img img {
        width: 18px;
        height: 15px;
    }

    .link_block a {
        font-size: 15px;
    }


    .title_user {
        font-size: 12px;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }

    .message {
        font-size: 12px;
        margin: 4px;
        padding: 10px;
    }

    .messages_right {
        width: 90%;
        margin: 5%;
    }

    .phone_button {
        width: 40%;
        height: 2%;
        font-size: 16px;
        margin: 5px;
        border-radius: 25px;
        padding: 12px;
    }

    .top_dynamic {
        margin-top: 3%;
        height: 3%;
    }

    .row_statistics {
        flex-direction: column;
    }

    .message {
        font-size: 10px;
        margin: 4px;
        padding: 8px;
    }

    .messages_right {
        margin: 1%;
    }

    .histogram_title {
        font-size: 22px;
        margin: 15px;
    }
}

@media (max-width: 900px) {
    .carousel-item_text {
        width: 740px;
        height: 650px;
    }

        .carousel .carousel-item {
    width: 850px;
    height: 100px;
}
}

@media (max-width: 780px) {

    .main {
        height: 120vh;
    }

.carousel-box {
    height: 1250px;
}

    .carousel-item_text {
        width: 740px;
        height: 700px;
    }

    .dropdown_menu.open {
        display: flex;
    }

    .toggle_btn {
        display: flex;
        justify-content: center;
        margin: 3% 10% 0% 0%;
        color: #ffffff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .dropdown_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .header_menu {
        display: none;
    }

    .block_right {
        margin: 0% 0% 0% 5%;
    }

    .block_phone {
        width: 98%;
    }

    .logo h2 {
        font-size: 38px;
    }

    .header_logo-img {
        height: 40px;
    }

}

@media (max-height: 780px) {





    .block_statistics {
        margin-top: 10px;
        width: 350px;
        height: 90px;
    }

    .block_statistics {
        margin-top: 12px;
        width: 360px;
        height: 90px;
    }

    .block_statistics a {
        font-size: 12px;
    }

    .text_statistics {
        padding: 20px 0px 0px 10px;
    }

    .statistics_center {
        padding-left: 12%;
    }

    .footer {
        height: 20px;
        cursor: pointer;
    }

    .footer a {
        font-size: 12px;
    }

    .running-image {
        height: 25px;
    }

    .logo h2 {
        font-size: 36px;
    }

    .header_logo-img {
        height: 60px;
    }

    .block_phone {
        width: 75%;
    }

    .link_block {
        margin-top: 15px;
        margin-left: 15px;
        width: 100px;
        height: 20px;
        border-radius: 25px;
    }

    .link_block-img {
        margin: 4px;
        width: 15px;
        height: 15px;
    }

    .link_block a {
        font-size: 9px;
    }

    .block_statistics {
        margin-top: 10px;
        width: 260px;
        height: 80px;
    }

    .block_statistics a {
        font-size: 11px;
    }

    h3 {
        font-size: 18px;
    }

    .histogram_title {
        font-size: 22px;
        margin: 10px;
    }

    .link_block-img img {
        width: 11px;
        height: 9px;
    }

    .block_statistics a {
        font-size: 10px;
    }

    .social_media {
        display: flex;
        flex-direction: row;
    }

    .histogram_one {
        height: 45px;
        width: 380px;
    }

    .histogram_two {
        height: 45px;
        width: 310px;
    }

    .center {
        height: 78%;
    }

    .block_phone {
        width: 95%;
    }

    .block_right {
        margin: 0% 0% 0% 6%;
    }

}

@media (max-width: 680px) {
    html {
        height: 100%;
    }

    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        background-color: black;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .center {
        flex-direction: column;
    }

        .carousel-item_text {
    width: 350px;
    height: 800px;
}

    .carousel .carousel-item {
    width: 850px;
    height: 430px;
}
    .carousel-item_text {
    width: 350px;
    height: 1200px;
}

.main {
    height: 160vh;
}

    .block_right {
        margin: 5% 0% 110px 2%;
    }


    .main_shadow {
        height: 20%;
        display: none;
    }

}


@media (max-width: 420px) {


    .block_statistics {
        margin-top: 20px;
        width: 300px;
        height: 110px;
        border-radius: 50px;
    }

    .statistics {
        padding-left: 5%;
    }


    .text_statistics a {
        font-size: 12px;
    }

    .main_shadow {
        height: 20%;
        display: none;
    }

    .histogram_one {
        height: 50px;
        width: 290px;
    }

    .histogram_two {
        height: 50px;
        width: 250px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 12px;
    }

    .logo h2 {

        font-size: 38px;

    }
}




